.logo {
    user-select: none;
    cursor: default;
    flex: 1;

    h2 {
        font-size: 1.7rem;
        margin: 0.5rem 0;
        font-weight: 100;
        font-family: 'Righteous', cursive;
    }
}